@import "@/baseStyles/index";
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 60px 20px 60px; 
  @include mobile{
    gap: 12px;
    padding: 30px;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
      color: #10182f;
      @include mobile{
        font-size: 18px;
      }
    }
    .icon{
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      font-size: 18px;
      font-weight: 500;
      color: #10182f;
      @include mobile{
        font-size: 15px;
      }
    }
  }

  .main {
    flex: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    @include mobile {
      flex-direction: column;
    }
  }
}
