@import "@/baseStyles/index";
.wrapper {
  background-color: #333333;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 30px;
  @include screen-lg(1024px) {
    min-height: 450px;
  }

  @include desktop {
    @media (max-width: 1024px) {
      min-height: auto;
    }
  }
  @include mobile {
    min-height: auto;
  }
  .titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: white;
      text-align: center;
      @include desktop {
        font-size: 24px;
      }
      @include mobile {
        font-size: 18px;
      }
    }
    h5 {
      font-size: 18px;
      font-weight: 500;
      color: lighten($color: #9747ff, $amount: 10%);
      text-align: center;
      @include mobile {
        font-size: 15px;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 70%;
    @include mobile {
      width: 100%;
    }
    input {
      height: 70px;
      font-size: 18px;
      font-weight: 500;
      @include desktop {
        height: 50px;
      }
      @include mobile {
        height: 40px;
        width: 100%;
      }
    }
    input::placeholder {
      font-size: 18px;
      font-weight: 500;
    }
    .errorInput {
      border-color: red;
    }
    .errorMessage {
      color: red;
      text-align: left;
      font-size: 14px;
      align-self: flex-start;
      font-weight: 400;
    }
    .btn {
      background-color: #9747ff;
      color: #ffff;
      font-size: 16px;
      font-weight: 400;
      width: 40%;
      height: 50px !important;

      border: 0;
      @include mobile {
        width: 35%;
        height: 40px;
        font-size: 14px;
      }
      &:hover {
        background-color: lighten($color: #9747ff, $amount: 10%);
        color: #ffff;
      }
    }
  }
}
